<ng-form name="backendServices">
  <gce-backend-service ng-repeat="backendService in ctrl.renderedData.backendServices"
                       backend-service="backendService"
                       index="$index"
                       backing-data="ctrl.backingData"
                       rendered-data="ctrl.renderedData"
                       aggregate-data="ctrl.aggregateData"
                       default-service-manager="ctrl.defaultServiceManager(backendService)"
                       delete-service="ctrl.remove('backendServices', $index)"></gce-backend-service>
  <div class="form-group small" style="margin-top: 20px">
    <div class="col-md-offset-4 col-md-6">
      <gce-cache-refresh cache-key="backendServices"
                         cache-key-alias="backend services"
                         on-refresh="ctrl.onBackendServiceRefresh()"></gce-cache-refresh>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="add-new btn btn-block"
              ng-click="ctrl.add('backendServices')">
        <span class="glyphicon glyphicon-plus-sign"></span> Add backend service
      </button>
    </div>
  </div>
</ng-form>
