<hr ng-if="$ctrl.index > 0">
<ng-form name="backendService">
  <div class="container-fluid form-horizontal">
    <div class="form-group">
      <div class="col-md-12 well"
           ng-if="$ctrl.rendered[$ctrl.index].name"
           ng-class="$ctrl.editExisting ? 'alert-warning' : 'alert-info'">
        <strong ng-if="$ctrl.editExisting">You are editing the backend service:</strong>
        <strong ng-if="!$ctrl.editExisting">Your backend service will be named:</strong>
        <span>{{ $ctrl.rendered[$ctrl.index].name }}</span>
      </div>
      <div class="col-md-12 well alert-danger"
           ng-if="backendService.serviceName.$error.pattern || backendService.serviceName.$error.max">
        <validation-error
          message="Name must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.">
        </validation-error>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4 sm-label-right">Name</div>

      <div class="col-md-4" ng-if="$ctrl.editExisting">
        <ui-select ng-model="$ctrl.rendered[$ctrl.index]"
                   on-select="$ctrl.onBackendServiceSelect($item)"
                   class="form-control input-sm">
          <ui-select-match placeholder="Select...">
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="backendService in $ctrl.backingData.backendServices | filter: {name: $select.search}">
            <div ng-bind-html="backendService.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="col-md-4" ng-if="!$ctrl.editExisting">
        <input class="form-control input-sm"
               ng-change="$ctrl.onBackendServiceNameChange($ctrl.rendered[$ctrl.index].name)"
               required
               type="text"
               name="serviceName"
               ng-pattern="/^[a-z]([-a-z0-9]*[a-z0-9])?$/"
               max="63"
               ng-model-options="{ debounce: 250 }"
               ng-model="$ctrl.rendered[$ctrl.index].name"/>
      </div>

      <div class="col-md-1">
        <button class="btn btn-sm btn-default" ng-click="$ctrl.deleteService()">
          <span class="glyphicon glyphicon-trash visible-lg-inline"></span>
          <span>Delete</span>
        </button>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-6 col-md-offset-4">
        <a href
           class="small"
           ng-if="!$ctrl.editExisting"
           ng-click="$ctrl.toggleEditExisting()">Toggle for list of existing backend services</a>
        <a href
           class="small"
           ng-if="$ctrl.editExisting"
           ng-click="$ctrl.toggleEditExisting()">Toggle for text input</a>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 sm-label-right">
        <b>Health Check</b>
      </div>
      <div class="col-md-4">
        <ui-select ng-model="$ctrl.rendered[$ctrl.index].healthCheck"
                   class="form-control input-sm">
          <ui-select-match placeholder="Select...">
            {{$select.selected}}
          </ui-select-match>
          <ui-select-choices
            repeat="healthCheck in $ctrl.aggregateData.healthChecks | filter:$ctrl.isNameDefined">
            <div ng-bind-html="healthCheck"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-4">
        <label class="sm-label-right">Default service
          <help-field key="gce.httpLoadBalancer.backendService.default"></help-field>
        </label>
        <input type="checkbox" ng-model="$ctrl.rendered[$ctrl.index].useAsDefault" ng-change="$ctrl.defaultServiceManager()"/>
      </div>
    </div>
  </div>
</ng-form>
