<ng-form name="healthChecks">
  <gce-http-load-balancer-health-check ng-repeat="healthCheck in ctrl.command.loadBalancer.healthChecks"
                                       index="$index"
                                       command="ctrl.command"
                                       delete-health-check="ctrl.remove('healthChecks', $index)"
                                       health-check="healthCheck"></gce-http-load-balancer-health-check>
  <div class="form-group small" style="margin-top: 20px">
    <div class="col-md-offset-2 col-md-6">
      <gce-cache-refresh cache-key="httpHealthChecks"
                         cache-key-alias="health checks"
                         on-refresh="ctrl.command.onHealthCheckRefresh()"></gce-cache-refresh>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="add-new btn btn-block"
              ng-click="ctrl.add('healthChecks')">
        <span class="glyphicon glyphicon-plus-sign"></span> Add health check
      </button>
    </div>
  </div>
</ng-form>
