<div class="form-group">
  <div class="col-md-4 sm-label-right">Ports<help-field key="gce.httpLoadBalancer.port"></help-field></div>
  <div class="col-md-4">
    <ui-select multiple ng-model="$ctrl.listeners.portRanges"
               class="form-control input-sm">
      <ui-select-match>
        <span>{{$item}}</span>
      </ui-select-match>
      <ui-select-choices repeat="choice in [8080, 80, 443]">
        <span>{{choice}}</span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4 sm-label-right">Certificate
    <help-field key="gce.httpLoadBalancer.certificate"></help-field>
  </div>
  <div class="col-md-4">
    <ui-select ng-model="$ctrl.listeners.certificate"
               ng-required="$ctrl.certificateRequired($ctrl.listeners.portRanges)"
               class="form-control input-sm">
      <ui-select-match allow-clear placeholder="Select...">{{$select.selected}}</ui-select-match>
      <ui-select-choices
        repeat="certificate in $ctrl.certificates | filter: $select.search">
        <span ng-bind-html="certificate | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
